* {
    font-family: 'Courier New', Courier, monospace;
}

.list {
    display: flex;
    flex-direction: column;
    width: 32vw;
}

.lists {
    display: flex;
    flex-direction: row;
}

Play{
    position: absolute;
    bottom: 30px;
}
p{
    font-size: 2vh;
}
.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
}
.top {
    height: 9vh;
}
h1 {
    font-size: 4vh;
    height: 10vh;
}
h2 {
    color: #440;
    background-color: #ffff00;
}
button, a{
    /* width: 49vw; */
    min-width: 32vw;
    height:10vh;
    font-size: 7vh;
    color: #440;
    background-color: #ff0;
    border: #000 solid;
}
a {
    text-align: center;
    text-decoration: none;
    display: block;
}
Menu {
    display: grid;
    grid-template-rows: 1fr;
}
.img{
    width: 35vw;
    height:55vh;
}

.desc {
    font-size: 3vh;
}